.center {
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--foreground-color);
  border-radius: var(--border-radius);
  transition: var(--default-transition);
  color: var(--text-primary);
  padding: var(--default-padding);
  border-radius: var(--border-radius);
  margin: var(--default-margin);
}
.bottomCard {
  height: 100%;
}

.speedometer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: -100px;
}
