.PlayerInfoCard {
  min-width: 100%;
}
.MostRecentGameStats {
  min-width: 100%;
}
.headerPadding {
  margin: var(--default-margin);
}
.SeasonCard {
  min-width: 100%;
}
.SeasonTable {
  color: var(--text-primary);
  min-width: 100%;
}
.RowImage {
  height: 2rem;
}
