.Tooltip {
  background-color: var(--top-color);
  border-radius: var(--border-radius);
  padding: var(--default-padding);
  margin: var(--default-margin);
  padding-top: calc(0.5 * var(--default-padding));
  padding-bottom: calc(0.5 * var(--default-padding));
  max-width: calc(0.5 * var(--default-column-width));
}
